h1{
color: red;
text-align: center;
}
h2{
color:green;
margin-top: 40px;
margin-bottom: 40px;
text-align: center;

}

body{
background-color: yellow;
margin-top: 40px;
text-align: center;

}
footer{
    text-align: center;
    color:orange;
    margin-bottom: 50px;

}
@media(max-width: 750px){
    body{
        background-color: blue;
        color: aliceblue;

    }
}